@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
}

audio::-webkit-media-controls-enclosure {
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #4b4b4b; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a; 
}

body {
  overflow-x: hidden;
  background-color: black;
  color: white;
}

select{
  /* box-sizing: border-box; */
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  background-image: url('https://www.svgrepo.com/show/80156/down-arrow.svg');
  background-repeat: no-repeat;
  background-size: 8px 8px;
  background-position: right 12px center;
}

@media only screen and (max-width: 1023px){
  body{
    background-color: #121212;
  }
}